
<div class="wrapper">
	<div class="container">
		<div class="masonry-container">

		{{#each categories}}
		<div class="card-box col-md-4 col-sm-6">
			<!-- NOTE: backgrond-pic-path -->
			<div class="card" data-background="image" data-src={{backgroundPicPath}}>
				{{#if recommended}}
				<div class="header">
					<div class="category">
						<h6 class="label label-danger">RECOMMENDED</h6>
					</div>
				</div>
				{{/if}}

				<div class="content">
					<h4 class="title title-uppercase">
						<a href="/category/{{name}}">{{name}}</a>
					</h4>
					<p class="description">{{description}}</p>
					</div>

			</div> <!-- end card -->
		</div>
		{{/each}}

		</div>
	</div>
</div>
