
<!-- data background image -->
<div class="card-box col-md-4 col-sm-6">
	<!-- NOTE: backgrond-pic-path -->
	<div class="card" data-background="image" data-src="{{background-pic-path}}">
		<div class="header">
			<div class="category">
				<!-- TODO: label -->
				<h6 class="label">Star</h6>
			</div>

			<!-- TODO: read artical link -->
			<div class="actions">
				<button class="btn btn-round btn-fill btn-neutral btn-modern">
					Read Detail
				</button>
			</div>

			<div class="social-line" data-buttons="4">
				<button class="btn btn-social btn-facebook">
					<i class="fa fa-facebook-square"></i>
				</button>
				<button class="btn btn-social btn-twitter">
					<i class="fa fa-twitter"></i>
				</button>
				<button class="btn btn-social btn-pinterest">
					<i class="fa fa-pinterest"></i>
				</button>
				<button class="btn btn-social btn-google">
					<i class="fa fa-google-plus"></i>
				</button>
			</div>

		</div>

		<div class="content">
			<h4 class="title title-uppercase">
				<!-- NOTE: link: recipe detail link -->
				<a href="{{link}}">{{title}}</a>
			</h4>
			<p class="description">{{description}}</p>
		</div>
		<div class="filter">

		</div>
	</div> <!-- end card -->
</div>


